@model MvcApplication1.Models.gda_passport

@{
    ViewBag.Title = "Видалити заяву";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Видалити заяву</h2>
<hr />
<h3>Ви впевнены що хочете видалити цю заяву?</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
   
        <input type="submit" class="btn" value="Видалити" /> 
        @Html.ActionLink("Назад", "Index")

}
