@model MvcApplication1.Models.LocalPasswordModel

<h3>Зміна паролю</h3>
<hr />

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    <div>
        <label for="oldpswd">Поточний пароль: </label>
        <input type="password" name="OldPassword" id="oldpswd" placeholder="Поточний пароль..." />
    </div>
    <div>
        <label for="npswd">Новий пароль: </label>
        <input type="password" name="NewPassword" id="npswd" placeholder="Новий пароль..." />
    </div>
    <div>
        <label for="cnfnpswd">Підтвердити: </label>
        <input type="password" name="ConfirmPassword" id="cnfnpswd" placeholder="Ще раз новий пароль..." />
    </div>
        <input type="submit" class="btn" value="Змінити" />
    
}
