*{
    margin:0px;
}
html, body {
    height: 100%;
    margin:0px;
    padding:0px;
}

body{
    /*background:url(../Images/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;*/
}
/*Header*/

header{
    height:60px;

}

.icon-bar{
    background:#fff;
}

header a{
    color:#fff;
    text-shadow:0px 0px 0px rgba(255,255,255,0.5);

}
.menu{
    background:#5c6982;
    height:60px;
}

.navbar{
    border:none;
    background:#5c6982;
    
}

.navbar-collapse{
    background:#5c6982;
}


.navbar-nav li a{
    padding:20px;
    height:60px;
    transition:all ease-in-out 0.3s;
}

.navbar-nav li a:hover{
    background:#26364b;
    color:#fff;
}

.navbar-nav li a:active{
    background:#fff;
    color:#5c6982;

}

.username{
    font-weight:bold;
}

#logout form{
    width:100%;
    height:60px;
    padding-top:20px;
    padding-bottom:20px;
    transition:all ease-in-out 0.3s;

}

#logout form a{
    color:#fff;
    padding:22px;
}

#logout form a:hover{
    background:#26364b;
    color:#fff;
    text-decoration:none;
}
#logout form a:active{
    text-decoration:none;
    background:#fff;
    color:#5c6982;
}

/*Body*/

/*layout*/
.site-body{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    padding-bottom:20px;
}


.push{
    height:50px;
    clear: both;
}


.btn{
    width:120px;
    height: 40px;
    background:#fff;
    border:2px solid #5c6982;
    color:#5c6982;
    font-weight:bold;
    border-radius:0px;
   
    transition:all ease-in-out 0.3s;
}


.btn:hover{
    background:#5c6982;
    color:#fff;
}


.btn:active{
    background:#26364b;
    color:#fff;
}

input[type="text"], input[type="password"]{
    border:2px solid #5c6982;
    color:#5c6982;
    font-style:italic;

}


input[type="date"],#body select{
    border:2px solid #5c6982;
    color:#5c6982;
    font-style:italic;
    min-height:20px;
    max-height:32px;
    height:auto;
    min-width:160px;
    max-width:272px;
    width:auto;
}


aside{
    margin-top:20px;
    padding:0px;
}

aside{
    
}

aside ul{
    width:100%;
    padding:0px;
    list-style-type:none;
}

aside ul li{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#5c6982;
}

aside ul li a{
    min-height:50px;
    height:100%;
    width:100%;
    display:block;
    color:#fff;
    padding-left:10px;
    padding-right:5px;
    text-shadow:0px 0px 0px rgba(255,255,255,0.5);
    transition:all ease-in-out 0.3s;
}

aside ul li a:first-child, aside ul li a:last-child{
    border-bottom:solid 1px #fff;
}


aside ul li a:hover{
    text-decoration:none;
    color:#fff;
    background:#26364b;
    
}

aside ul li a:visited,a:link, a:focus{
    color:#fff;
    text-decoration:none;
}

aside ul li a:active{
    background:#fff;
    color:#5c6982;
    text-decoration:none;
}

label{
    width:140px;
}

#body #regpage div, #body #loginForm div, #body #manage div,#body #cab div,#body #pass div{
    margin:20px 0px 20px;
}

#body input,#body select{
    width:160px;

}

h1,h2,h3,h4,h5,h6{
    color:#26364b;
}


/*homepage*/
#body .homepage article{
    text-align:justify;
}



/*login*/


#body #chbox *{
    display:inline-block;
    width:auto;
}


#body #loginForm p{
    margin:20px 0px 20px;
}



/*Cabinet*/

 a[href*="UserKabinet/Edit"]{
    width:120px;
    height: 40px;
    background:#fff;
    border:2px solid #5c6982;
    color:#5c6982;
    font-weight:bold;
    border-radius:0px;
    padding:15px;
    transition:all ease-in-out 0.3s;
}



 a[href*="UserKabinet/Edit"]:hover,a[href*="revision/Edit"]:hover{
    background:#5c6982;
    color:#fff;
}


 a[href*="UserKabinet/Edit"]:active,a[href*="revision/Edit"]:active{
    background:#26364b;
    color:#fff;
}


 /*storeadmin*/

 a[href*="revision/Edit"], a[href*="revision/Details"],a[href*="revision/Delete"]{
     color:#5c6982;
 }

 a[href*="revision/Edit"]:hover,a[href*="revision/Details"]:hover,a[href*="revision/Details"]:hover{
     background:none;
     color:#26364b;
     text-decoration:none;

 }

a[href*="revision/Edit"]:active,a[href*="revision/Details"]:active,a[href*="revision/Details"]:active {
     background: none;
     color: #000;
     text-decoration: none;
}


.rev{
    overflow-x:scroll; 
}



/*footer*/
footer{
    position:static;
    height:50px;
    margin-top:-50px;
    background:#5c6982;
    overflow:hidden;
    color:#fff;
    clear: both;
}

footer p{
    margin-top:-20px;
    padding-right:10px;
    text-shadow:0px 0px 0px rgba(255,255,255,0.5);
}

footer div{
    padding-top:15px;
    margin:0px;
}

footer div a{
    padding-right:10px;
    padding-left:10px;
    color:#fff;
    border-right:solid 1px #fff;
    text-shadow:0px 0px 0px rgba(255,255,255,0.5);
}

footer div a:last-child{
    border-right:none;
}

footer div a:hover{
    color:#26364b;
    text-shadow:none;
}